@import "./base.css";


a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

:root {
  --el-menu-text-color: #909399;
  --el-menu-hover-text-color: #303133;
  --el-menu-hover-bg-color: transparent;
}

.el-step {
  --el-text-color-primary: #c0c4cc;
  --el-text-color-placeholder: #c0c4cc;
}

p {
  margin-bottom: 1rem;
}